@font-face {
  font-family: "minecraftregular";
  src: url("/fonts/Minecraft.ttf");
  font-weight: bold;
}

* {
  text-align: center;
  background-color: rgb(102, 102, 223);
}

.logo {
  font-family: minecraftregular;
  font-size: 100px;
}

.api-input {
  font-family: "Dongle", sans-serif;
  font-size: 30px;
  background-color: white;
  border: rgb(255, 255, 255) solid;
  border-radius: 10px;
  width: 360px;
  color: black;
}
.versionDiv {
  position: fixed;
  bottom: 0;
  left: 0;
  font-family: minecraftregular;
  font-weight: normal;
  font-size: 20px;
  margin-left: 10px;
}

.themediv {
  position: fixed;
  bottom: 0;
  right: 0;
  font-family: "Dongle", sans-serif;
}
#theme {
  background-color: rgb(207, 207, 207);
  border: none;
  font-size: 20px;
  font-family: "Dongle", sans-serif;
  border-radius: 10px;
  margin-right: 10px;
}

.themeH2 {
  padding-left: 10px;
  font-size: 30px;
}

.soundH2 {
  padding-right: 105px;
  font-size: 30px;
}

.tg {
  text-align: center;
  border-color: antiquewhite;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.tg th {
  background-color: #b9c9fe;
  border-color: rgba(140, 140, 226, 0.596);
  font-family: "Dongle", sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 28px;
  border-style: solid;
  border-width: 3px;
  color: #039;
  overflow: hidden;
  word-break: normal;
}

.close-btn {
  border-radius: 20%;
  background-color: #e74545;
  color: rgb(255, 255, 255);
  border-color: #e74545;
}

@media screen and (max-width: 625px) {
  .logo {
    font-size: 50px;
  }

  .tg th {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
  }

  .close-btn {
    font-size: 8px;
  }
}
