@font-face {
  font-family: "minecraftregular";
  src: url("/fonts/Minecraft.ttf");
  font-weight: bold;
}

* {
  text-align: center;
  background-color: rgb(102, 102, 223);
}

.logo {
  font-family: minecraftregular;
  font-size: 100px;
}

.api-input {
  font-family: "Dongle", sans-serif;
  font-size: 30px;
  background-color: white;
  border: rgb(255, 255, 255) solid;
  border-radius: 10px;
  width: 200px;
  color: black;
}
.api-input::placeholder {
  color: #757575;
}

.rgithub {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 130px;
  margin-bottom: 19px;
}
.socials {
  text-decoration: none;
  font-family: "Dongle", sans-serif;
  font-size: 30px;
  color: white;
}

.versionDiv {
  position: fixed;
  bottom: 0;
  padding-left: 15px;
  left: 0;
  font-family: minecraftregular;
  font-weight: normal;
  font-size: 20px;
  margin-left: 10px;
}
.githubSocialDiv {
  position: fixed;
  bottom: 0;
  font-family: "Dongle", sans-serif;
  text-align: center;
}
.themediv {
  position: fixed;
  bottom: 0;
  right: 0;
  font-family: "Dongle", sans-serif;
}
#theme-select {
  background-color: white;
  border: none;
  font-size: 25px;
  font-family: "Dongle", sans-serif;
  border-radius: 10px;
  margin-right: 10px;
}
#theme-select option {
  background-color: white;
}

element {
  margin-bottom: 0px;
}
.themeH2 {
  text-align: left;
  font-size: 30px;
  font-weight: normal;
}

.soundH2 {
  text-align: left;
  font-size: 30px;
  font-weight: normal;
}

.tg {
  text-align: center;
  border-color: antiquewhite;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.tg th {
  background-color: #b9c9fe;
  border-color: rgba(140, 140, 226, 0.596);
  font-family: "Dongle", sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 28px;
  border-style: solid;
  border-width: 3px;
  color: #039;
  overflow: hidden;
  word-break: normal;
}

.tg td {
  background-color: #b9c9fe;
  border-color: rgba(140, 140, 226, 0.596);
  font-family: "Dongle", sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 28px;
  border-style: solid;
  border-width: 3px;
  color: #039;
  overflow: hidden;
  word-break: normal;
}

.close-btn {
  border-radius: 20%;
  background-color: #e74545;
  color: rgb(255, 255, 255);
  border-color: #e74545;
  cursor: pointer;
}

#online {
  background-color: #8dd99d;
}

#lobby {
  background-color: #e0f593;
}

#offline {
  background-color: #f77777;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
  background: #b9c9fe;
  top: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(196, 64, 64);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 0px;
  bottom: 2.3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #37cf65;
}

input:focus + .slider {
  box-shadow: 0 0 1px #37cf65;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 980px) {
  .logo {
    font-size: 50px;
  }

  .tg td {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
  }

  .close-btn {
    font-size: 8px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 18px;
    top: 3px;
  }
}
@media screen and (max-width: 465px) {
  .tg td {
    padding-left: 5px;
    padding-right: 5px;
  }
  .tg th {
    padding-left: 5px;
    padding-right: 5px;
  }
  .rgithub {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 20px;
    margin-bottom: 59px;
  }
  .soundH2 {
    padding-right: 0px;
  }
}
