<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/<%= theme  %>/<%= type  %>.css">
    <title>HySniper</title>
</head>

<body>
    <div class="HYSNIPER-Area">
        <h1 class="logo">HYSNIPER</h1>
    </div>

    <div class="api-button">
        <input placeholder="74d1d738-6326-2f8g-272g-a74hg9g49252" id="api-input" class="api-input" type="text">
    </div>
    <p id='result'> </p>
    <div class="versionDiv">
        <h2 class="versionH2"><%= version  %></h2>
    </div>
    <div class="themediv">
        <div class="themediv1">
            <h2 class="themeH2">Select Theme
                <select name="theme" id="theme-select">
                    <option class="selected-theme" value="Default">Default</option>
                    <option class="selected-theme" value="Discord">Discord</option>
                </select>
            </h2>
        </div>
    </div>
</body>
</html>
<script src="/js/index.js"></script>