<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8c7bff0843.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/started.css">
    <link rel="shortcut icon" href="/assets/icon.ico" />

    <title>HYSNIPER</title>
</head>
<body>
    <img src="https://i.ibb.co/JpMCzXS/image-removebg-preview-1.png" alt="HYSNIPER">
    <div class="container">
        <input maxlength="16" id="userinput" class="api-put" type="text" placeholder="Sniping IGN">
    </div>
    <div class="info">
        <table class="tg">
            <thead>
                <tr>
                    <th> </th>
                    <th>IGN</th>
                    <th>Game</th>
                    <th>Mode</th>
                    <th>Map</th>
                </tr>
            </thead>
            <tbody id="usertable">
            </tbody>
        </table>
    </div>

    <footer>
        <div class="container-footer">
            <i style="display: flex; justify-content: center; color: black; font-size: 30px; margin-top: 15%;"
                class="fab fa-github-square"></i> <a
                style="text-decoration: none; text-align: center; color: black; font-family: 'Poppins', sans-serif;"
                href="/github">Github</a>
        </div>
    </footer>
</body>
</html>
<script src="/js/started.js"></script>