<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/<%= theme  %>/<%= type  %>.css">
    <title>HySniper</title>
</head>

<body>
    <div class="HYSNIPER-Area">

        <h1 class="logo">HYSNIPER</h1>
    </div>
    <div class="api-button">
        <input id="userinput" class="api-input" placeholder="Enter IGN" type="text" maxlength="16">
    </div>

    <div class="table1">
        <table class="tg" id="usertable">
            <thead>
                <tr>
                    <td class="header"> </th>
                    <th class="header">IGN</th>
                    <th class="header">Game</th>
                    <th class="header">Mode</th>
                    <th class="header">Map</th>
                </tr>
            </thead>
            <tbody id="usertable">

            </tbody>
        </table>
    </div>
    <div class="versionDiv">
        <h2 class="versionH2"><%= version  %></h2>
    </div>




    <div class="themediv">
        <h2 class="soundH2">Sound <input id="soundbox"type="checkbox" name="sound" unchecked></h2>

        <h2 class="themeH2">Select Theme
            <select name="theme" id="theme-select">
                <option class="selected-theme" value="Default">Default</option>
                <option class="selected-theme" value="Discord">Discord</option>
            </select>
        </h2>
    </div>
</body>
</html>
<script src="/js/started.js"></script>
