* {
  text-align: center;
  background-color: rgb(72, 133, 245);
}

input {
  margin-top: 5%;
  color: rgb(0, 0, 0);
  border: rgb(255, 255, 255) solid;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  height: 30px;
}

::placeholder {
  color: rgb(0, 0, 0);
  font-size: 17px;
  opacity: 0.8;
}

img {
  width: 30%;
  height: 30%;
  margin-top: 20%;
}